# For Skylight
skylight_authentication: xxx

# For Sentry
sentry_dsn: xxx

# For Qiniu
qiniu:
  access_key: xxx
  secret_key: xxx
  bucket: xxx
  domain: xxx
  protocol: https
  bucket_private: false
