<% flash.each do |type, content| %>
  <div class="alert alert-<%= alert_name(type) %> alert-dismissible fade show" role="alert">
    <div class="text-center">
      <%= content %>
    </div>

    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    </button>
  </div>
<% end %>
